{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <style type="text/css">
    	.nomargin {
    		margin:0 !important;
    	}
    </style>
	<script type="text/javascript">
		$(function() {
			moment.locale('es');
			$('.fechaTicket').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
		});
	</script>
{% endblock %}

{% block contenido %}

<div class="b_card" ch-titulo='{"titulo": "Compras"}'>
	<div class="container-fluid">
		{% for c in compras %}
		<div class="itemcompra">
			<div class="row">
				<div class="col-md-2 text-center">
					<img src="{{ publico }}/img/ponchados/{{ c.ponchado.foto }}.jpg" style="max-width: 100%">
				</div>
				<div class="col-md-7">
					<div><strong>Enlace:</strong> <a href="{{ ruta('sitio.ponchado', {id:c.ponchado.id, titulo_url: c.ponchado.titulo_url}) }}">{{ c.ponchado.titulo|raw }}</a></div>
					<div><strong>Puntadas:</strong> 1340 <strong>X:</strong> {{ c.ponchado.x }}mm <strong>Y:</strong> {{ c.ponchado.y }}mm</div>
					<div><strong>Fecha de compra:</strong> <span class="fecha">{{ c.fecha_alta }}</span></div>
					<div><strong>Precio:</strong> ${{ c.precio }}</div>
					<div><strong>Comentario:</strong> {% if c.comentario == '' %} -- {% else %} <span class="calificacion">"{{ c.comentario }}"</span> {% endif %}</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="dropdown">
						<button class="btn btn-success dropdown-toggle btn-block" type="button" data-toggle="dropdown"><i class="fa fa-download"></i> Descargar
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a type="button" href="#" data-toggle="modal" data-target="#modalDescargarPonchado" class="btn-download" tipo="1" ponchado-id="{{ c.ponchado.id }}">Tajima (*.DST)</a></li>
							<li><a type="button" href="#" data-toggle="modal" data-target="#modalDescargarPonchado" class="btn-download" tipo="2" ponchado-id="{{ c.ponchado.id }}">Janome (*.JEF)</a></li>
							<li><a type="button" href="#" data-toggle="modal" data-target="#modalDescargarPonchado" class="btn-download" tipo="3" ponchado-id="{{ c.ponchado.id }}">Brother (*.PES)</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block pie %}
{% endblock %}