/* CARDS */
.b_card {
	padding: 10px;
	background: #fff;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	transition: all .2s ease;
	margin: 5px 0px 15px 0px;
}
.t_card {
	color: #000;
	border-bottom: 2px solid #DDDDDD;
	padding: 0px 3px 3px 0px;
}
.b_card .t_card {
	margin-bottom: 10px;
}
.t_card h5 {
	font-size: 15px;
	color: #676a6c;
}

.menu_card {
	list-style: none;
	padding: 0;
	margin: 0px;
	margin-bottom: 5px;
}
.menu_card .titulo {
	color: #5A738E;
	font-weight: normal;
	padding: 5px 0px 5px 0px;
	background-color: #F5F7F9;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 5px;
}
.menu_card li {
	border-bottom: dashed 1px #E9E9E9;
	text-transform: initial;
}
.menu_card li:last-child {
	border-bottom: none;
}

.menu_card li a:link, .menu_card li a:visited {
	font-size: 13px;
	display: block;
	padding: 7px 0px 7px 0px;
	text-decoration: none;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	color: #4E4E4E;
}
.menu_card li a:hover {
	background-color: #f1f3f5;
	border-radius: 2px;
	padding-left: 5px;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}