{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <style type="text/css">
    	.nomargin {
    		margin:0 !important;
    	}
    </style>
    <script type="text/javascript" src="{{ publico }}/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
    	$(function() {
    		CKEDITOR.replace( 'contenido' );
    		$('#contenido').val(CKEDITOR.getData());
    	});
    </script>
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	{{ flash('flashAdmin')|raw }}

	{% if pagina.id %}
	<form action="{{ ruta('admin.enviarPagina') }}?id={{ pagina.id }}" method="post">
	{% else %}
	<form action="{{ ruta('admin.enviarPagina') }}" method="post">
	{% endif %}
		<div class="row">
			<div class="col-lg-12">
				<div class="b_card" ch-titulo='{"titulo": "{% if pagina.id %}Editar{% else %}Agregar{% endif %} Pagina"}'>
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-9">
								<label>Titulo</label>
								<input type="text" name="titulo" class="form-control" value="{{ pagina.titulo }}">
							</div>
							<div class="col-lg-3">
								<label>Nombre</label>
								<input type="text" name="nombre" class="form-control" value="{{ pagina.nombre }}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Descripcion</label>
								<textarea name="descripcion" class="form-control" rows="3" value="{{ pagina.descripcion }}"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Contenido</label>
								<textarea id="contenido" name="contenido" class="form-control" rows="20" value="{{ pagina.contenido }}"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<a href="{{ ruta('admin.paginas') }}" class="btn btn-default"><i class="fa fa-close"></i></a>
								<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {% if pagina.id %}Editar{% else %}Agregar{% endif %} Pagina</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-lg-12">
			<div class="b_card" ch-titulo='{"titulo": "Lista de paginas"}'>
				<div class="container-fluid">
					{% for p in paginas %}
					<div class="row">
						<div class="col-lg-10">
							{{ p.titulo|raw }}
						</div>
						<div class="col-lg-2">
							<a href="{{ ruta('admin.paginas') }}?id={{ p.id }}" class="btn btn-default pull-right"><i class="fa fa-edit"></i></a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{#<div class="row">
		<div class="col-lg-12">
			<center>{{ paginacion(pagina)|raw }}</center>
		</div>
	</div>#}
</div>

{% endblock %}

{% block pie %}
{% endblock %}