{% extends "contenidoGeneral.html" %} {% block cabeza %} {{ parent() }} {{ seo(true, "Ver Categoria - " ~ categoria.nombre, "Encuentra todos los ponchados de la categoria " ~ categoria.nombre)|raw }} <script type=text/javascript>
		$(function() {
			$('.titulo-p').after(function() {
				if($(this).attr('titulo-p').length > 10) {
					$(this).html($(this).attr('titulo-p').substring(0,10) + '...');
				} else {
					$(this).html($(this).attr('titulo-p'));
				}
			});
			$('[tooltip]').tooltip(); 
		});
	</script> {% endblock %} {% block contenidoGeneral %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Categoria: {{ categoria.nombre|raw }}&quot;}"> <div class=container-fluid style="padding: 0px;"> <div class=row> {% for p in ponchados %} <div class=col-lg-3> <div class=block-item title="{{ p.titulo|raw }}" tooltip> <center> <div style="height: 150px;"> {% if p.foto1 %} <a href="{{ ruta('sitio.ponchado', {'id': p.id, 'titulo_url':p.titulo_url}) }}" style=" margin-top: 5px; margin-bottom: 5px; display: block;"> <img src="{{ publico }}/img/ponchados/{{ p.foto1 }}.jpg" class=imgLista> </a> {% elseif p.foto2 %} <a href="{{ ruta('sitio.ponchado', {'id': p.id, 'titulo_url':p.titulo_url}) }}" style=" margin-top: 5px; margin-bottom: 5px; display: block;"> <img src="{{ publico }}/img/ponchados/{{ p.foto2 }}.jpg" class=imgLista> </a> {% else %} <a href="{{ ruta('sitio.ponchado', {'id': p.id, 'titulo_url':p.titulo_url}) }}" style=" margin-top: 5px; margin-bottom: 5px; display: block;"> <img src="{{ publico }}/img/ponchados/{{ p.foto3 }}.jpg" class=imgLista> </a> {% endif %} </div> </center> <div style="text-align: center; color: #808080" class=titulo-p titulo-p="{{ p.titulo|raw }}"></div> <div style="text-align: center; font-size: 150%;"> ${{ p.precio }} </div> {% if p.precio == 0 %} <a href="{{ ruta('sitio.ponchado', {'id': p.id, 'titulo_url':p.titulo_url}) }}" class="btn btn-block btn-success"><i class="fa fa-download"></i> Descargar gratis</a> {% else %} <a href="{{ ruta('sitio.ponchado', {'id': p.id, 'titulo_url':p.titulo_url}) }}" class="btn btn-block btn-primary"><i class="fa fa-shopping-cart"></i> Comprar</a> {% endif %} </div> </div> {% endfor %} </div> <div class=row> <div class=col-md-12> <center> {{ paginacion(pagina)|raw }} </center> </div> </div> </div> </div> {% endblock %} {% block pie %} {% endblock %}