{% extends "plantilla.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Comprar ponchado" ~ ponchado.titulo, "Estas a un paso de comprar el siguiente ponchado: " ~ ponchado.titulo)|raw }} <style type=text/css>
		.fotos {
			padding: 3px;
			border: solid 1px #E6E6E6;
		}
		.img {
			max-width: 100%;
		}
	</style> {% endblock %} {% block contenido %} {{ parent() }} <div class="container-fluid nopadding"> <!-- <div class="row">
		<div class="col-md-12">
			SLIDE
		</div>
	</div> --> <div class=row> <div class=col-md-12> <div class="b_card text" ch-titulo="{&quot;titulo&quot;: &quot;Comprar Ponchado: {{ ponchado.titulo|raw }}&quot;}"> <center> <div class="container-fluid text-center"> <div class=row> <div class="col-md-offset-3 col-md-6"> <div class="alert alert-info"> <i class="fa fa-info-circle"></i> Estas a un paso de comprar este ponchado <br> Recorda que una vez que hayas comprado este producto, este estara en tu lista de compras en el cual podras descargarlo las veces que quieras </div> </div> </div> <div class=row> <div class="col-md-offset-3 col-md-6"> <h1>{{ ponchado.titulo|raw }}</h1> <div class=fotos> <img src="{{ publico }}/img/ponchados/{{ foto }}.jpg" class=img> </div> </div> </div> <div class=row> <div class="col-md-offset-3 col-md-6"> <a href="{{ ruta('sitio.ponchado', {id:ponchado.id,titulo_url:ponchado.titulo_url}) }}">{{ ponchado.titulo|raw }}</a> <div style="padding: 10px 0px;"><strong>Precio:</strong> {% if ponchado.gratis == 1 %}<span style="font-weight: bold;color:#2AA735">&iexclGRATIS;!</span>{% else %}${{ ponchado.precio }}{% endif %}</div> </div> </div> <div class=row> <div class="col-md-offset-3 col-md-6"> {% if ponchado.precio > usuario.dinero_compra %} <div class="alert alert-danger"> <i class="fa fa-info-circle"></i> No tienes dinero suficiente para poder comprar este ponchado <br> Puedes cargar dinero desde aqui: <a href="{{ ruta('usuario.cargarSaldo') }}">Cargar dinero</a> </div> {% else %} <form action="{{ ruta('sitio.enviarComprar', {id:ponchado.id,titulo_url:ponchado.titulo_url}) }}" method=post> <button class="btn btn-lg btn-success btn-block"><i class="fa fa-shopping-cart"></i> COMPRAR</button> </form> {% endif %} </div> </div> </div> </center> </div> </div> </div> </div> {% endblock %} {% block pie %} {% endblock %}