{% extends "plantilla.html" %} {% block cabeza %} {{ parent() }} {{ seo(true, pagina.titulo, pagina.descripcion)|raw }} {% endblock %} {% block contenido %} {{ parent() }} <div class=container-fluid style="padding: 0px;"> <!-- <div class="row">
		<div class="col-md-12">
			SLIDE
		</div>
	</div> --> <div class=row> <div class=col-md-12> <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;&lt;h1&gt;{{ pagina.titulo|raw }}&lt;/h1&gt;&quot;}"> {{ pagina.contenido|raw }} </div> </div> </div> </div> {% endblock %} {% block pie %} {% endblock %}