* {
	font-family: Arial, Helvetica, sans-serif !important;
}
html, body {
	background-color: #F7F7F7;
	background-image: url('../img/bg.jpg');
}
#contenedor {
	max-width: 1000px;
	margin: auto;
}
.block-item {
	padding: 5px;
	margin-bottom: 30px;
	border: solid 1px #E5E5E5;
	border-radius: 3px;
}
.block-item:hover {
	border: solid 1px rgba(254, 152, 15, 0.42);
}
footer {
	padding: 10px;
	background-color: #181818;
	color: #9B9B9B;
}
footer .container-fluid {
	max-width: 1000px;
	margin: auto;
}
.unstyled {
	margin: 0;
	padding: 0;
    list-style: none;
}
.hrfooter {
	border-color: #474747
}