{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Admin - Ingresar", "El mejor MicroFramework")|raw }}
{% endblock %}

{% block contenido %}
{{ parent() }}
<div class="container-fluid">
	<div class="row">
		<div class=" col-lg-offset-4 col-lg-4">
			<div class="b_card" ch-titulo='{"titulo": "Panel De Administracion"}'>
				<form method="post" action="{{ ruta('admin.enviarIngresoAdmin') }}">
					<div class="container-fluid container-separado">						
						<div class="row">
							<div class="col-sm-12">
								{{ flash('admin')|raw }}
								<input type="email" name="correo" class="form-control input-lg" placeholder="Correo" required>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<input type="password" name="clave" class="form-control input-lg" placeholder="Clave" required>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
							<center>
								<div class="g-recaptcha" data-sitekey="{{ llave_publica }}" style="width: 100% !important"></div>
							</center>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<button class="btn btn-default btn-block btn-lg">Ingresar</button>
							</div>
						</div>						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block pie %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}