<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="icon" href="{{ publico }}/admin/img/favicon.ico">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{ publico }}/plugins/todc-bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="{{ publico }}/plugins/todc-bootstrap/css/todc-bootstrap.css" />
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{{ publico }}/plugins/font-awesome/css/font-awesome.min.css" />

		<!-- Sector de archivos del sistema -->
		<link rel="stylesheet" href="{{ publico }}/plugins/Rocci/css/rocci.css">
		<link rel="stylesheet" href="{{ publico }}/css/admin.index.css">


		<script type="text/javascript" src="{{ publico }}/plugins/jquery/jquery-3.1.0.js"></script>
		<script src="{{ publico }}/plugins/todc-bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="{{ publico }}/plugins/Rocci/js/rocci.js"></script>
		<script type="text/javascript" src="{{ publico }}/plugins/momentJS/moment-with-locales.min.js"></script>
		{{ block('cabeza') }}
	</head>
	<body>

	{% if conectadoAdmin != false %}
	<nav class="navbar navbar-default">
		<div class="container-fluid" style="max-width: 1000px; margin:auto">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ ruta('admin.index') }}">Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ ruta('admin.saldos') }}">Saldos</a></li>
					<li><a href="{{ ruta('admin.ponchados') }}">Ponchados</a></li>
					<li><a href="{{ ruta('admin.compras') }}">Ventas</a></li>
					<li><a href="{{ ruta('admin.categorias') }}">Categorias</a></li>
					<li><a href="{{ ruta('admin.tickets') }}">Tickets</a></li>
					<li><a href="{{ ruta('admin.paginas') }}">Paginas</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	{% endif %}

	<div id="contenedor">
		{{ block('contenido') }}
	</div>
	</body>
	{{ block('pie') }}
</html>