{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Cambiar clave", "Cambiar clave")|raw }} <style type=text/css>
		.itemdato {
			text-align: center;
			background-color: #1B1B1B;
			padding: 10px;
			font-size: 200%;
			color: #EBEBEB;
			border-radius: 4px;
		}
		.itemdato-verde {
			background-color: #45B550 !important;
		}
		.itemdato span {
			display: block;
			font-size: 40%;
		}
	</style> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Cambiar clave&quot;}" style="margin-bottom: 100px;"> <form method=post action="{{ ruta('usuario.enviarCambiarClave') }}"> {{ flash()|raw }} <div class="container-fluid nopadding"> <div class=row> <div class=col-lg-4> <label>Clave actual:</label> <input type=password name=claveactual class=form-control> </div> <div class=col-lg-4> <label>Clave nueva:</label> <input type=password name=clavenueva class=form-control> </div> <div class=col-lg-4> <label>Reingrese clave nueva:</label> <input type=password name=reclavenueva class=form-control> </div> </div> <div class=row> <div class=col-lg-12> <label>Captcha:</label> <div class=g-recaptcha data-sitekey="{{ llave_publica }}" style="width: 100% !important"></div> </div> </div> <div class=row> <div class=col-lg-12> <button type=submit class="pull-right btn btn-default"><i class="fa fa-lock"></i> Cambiar clave</button> </div> </div> </div> </form> </div> {% endblock %} {% block pie %} <script src=https://www.google.com/recaptcha/api.js async defer></script> {% endblock %}