{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Mis datos", "Mis datos")|raw }} <style type=text/css>
		.itemdato {
			text-align: center;
			background-color: #1B1B1B;
			padding: 10px;
			font-size: 200%;
			color: #EBEBEB;
			border-radius: 4px;
		}
		.itemdato-verde {
			background-color: #45B550 !important;
		}
		.itemdato span {
			display: block;
			font-size: 40%;
		}
	</style> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Mis datos&quot;}"> <div class="container-fluid nopadding"> <div class=row> <div class="col-lg-4 text-center"> <div class=itemdato> {{ compras }} <span>Compras realizadas</span> </div> <br> <a href="{{ ruta('usuario.compras') }}">[ Ver compras ]</a> </div> <div class="col-lg-4 text-center"> <div class=itemdato> {{ sin_calificar }} <span>Calificaciones realizadas</span> </div> <br> <a href="{{ ruta('usuario.comprasSinCalificar') }}">[ Ver compras sin calificar ]</a> </div> <div class="col-lg-4 text-center"> <div class="itemdato itemdato-verde"> ${{ usuario.dinero_compra }} <span>Dinero para compra</span> </div> <br> <a href="{{ ruta('usuario.cargarSaldo') }}">[ Cargar dinero ]</a> </div> </div> </div> </div> <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Mis datos personales&quot;}"> {{ flash()|raw }} <form method=post action> <div class="container-fluid nopadding"> <div class=row> <div class=col-lg-4> <label>Nombre:</label> <input type=text name=nombre class=form-control value="{{ usuario.nombre }}"> </div> <div class=col-lg-4> <label>Apellido:</label> <input type=text name=apellido class=form-control value="{{ usuario.apellido }}"> </div> <div class=col-lg-4> <label>Correo:</label> <input type=text name=correo class=form-control disabled value="{{ usuario.correo }}"> </div> </div> <div class=row> <div class=col-lg-12> <label>Captcha:</label> <div class=g-recaptcha data-sitekey="{{ llave_publica }}" style="width: 100% !important"></div> </div> </div> <div class=row> <div class="col-lg-4 col-lg-offset-8"> <button type=submit class="btn btn-default pull-right"><i class="fa fa-edit"></i> Guardar datos</button> </div> </div> </div> </form> </div> {% endblock %} {% block pie %} <script src=https://www.google.com/recaptcha/api.js async defer></script> {% endblock %}