{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Historial saldo", "Historial saldo")|raw }} <script type=text/javascript>
		$(function() {
			moment.locale('es');
			$('.fechaSaldo').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
		});
	</script> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Historial de saldo&quot;}"> <div class="container-fluid nopadding"> <div class=row> <div class=col-md-12> <a href="{{ ruta('usuario.cargarSaldo') }}" class="btn btn-success pull-right"><i class="fa fa-dollar"></i> Cargar saldo</a> <a href="{{ ruta('usuario.tickets') }}#informar" class="btn btn-default pull-right" style="margin-right: 5px;"><i class="fa fa-comments"></i> Informar pago</a> </div> </div> {% for s in saldos %} <div class=row style="border-bottom: dashed 1px #C7C7C7; padding-top: 10px;"> <div class=col-md-7> <div><strong>Monto: </strong> U$D{{ s.saldo }}</div> <div><strong>Medio: </strong> {% if s.medio == 1 %}MercadoPago{% endif %}{% if s.medio == 2 %}PayPal{% endif %}{% if s.medio == 3 %}Western Union{% endif %}</div> </div> <div class=col-md-5><span class="fechaSaldo pull-right" fecha="{{ s.fecha_alta }}"></span></div> </div> {% endfor %} </div> </div> {% endblock %} {% block pie %} <script src=https://www.google.com/recaptcha/api.js async defer></script> {% endblock %}